.background {
  &__is-white {
    background-color: map-get($colors, white);
  }
  &__is-black {
    background-color: map-get($colors, black);
  }
  &__is-primary {
    background-color: $primary;
  }
}