button, .button {
  &.bdr-less {
    border: none;
    background-color: inherit;
  }
  &.button-submit {
    padding: 0;
    border-bottom: 1px solid map-get($colors, black);
    border-radius: 0;
    max-height: 26px;
  }
}