input, .input {
  margin-top: 22px;
  font-size: 17px;
  padding: 0;
  max-height: 18px;
  border: none;
  border-bottom: 1px solid map-get($colors, black);
  @extend .text__ft2;
  box-shadow: none;
  border-radius: 0;
  &:focus {
    outline: none;
    border-color: inherit;
    box-shadow: none;
  }
}