.text {
  &__is-white {
    color: map-get($colors, white);
  }
  &__is-black {
    color: map-get($colors, black);
  }
  &__is-red {
    color: $primary;
  }
  &__ft1 {
    font-family: "Albertus", sans-serif;
  }
  &__ft2 {
    font-family: 'Times New Roman', sans-serif;
  }
  &__small {
    font-size: 0.9rem;
  }
}




