
  .contact {
    max-width: 600px;
    &__nav {
      a {
        color: inherit;
        border-bottom: 1px solid transparent;
        max-height: 27px;
        &:hover, &.active {
          border-bottom: 1px solid map-get($colors, black);
        }
      }
    }
  }
  label {
    padding: 25px 20px 0 0;
  }