*, body {
  @extend .text__ft1;
  color: map-get($colors, black);
}

a {
  color: inherit;
}

@font-face {
  font-family: 'Times New Roman';
  src: url('../fonts/TimesNewRomanPSMT.woff2') format('woff2'),
  url('../fonts/TimesNewRomanPSMT.woff') format('woff'),
  url('../fonts/TimesNewRoman.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=0a61c979-eca0-4723-bd20-757342c0154c");
@font-face {
  font-family: "Albertus";
  src: url("../fonts/88d6413a-47d2-475e-8b27-5796149dfdaf.eot?#iefix");
  src: url("../fonts/88d6413a-47d2-475e-8b27-5796149dfdaf.eot?#iefix") format("eot"), url("../fonts/5e0e90e5-c3f0-491e-999d-e6386e0e3d22.woff2") format("woff2"), url("../fonts/26561727-c579-4c7d-9357-45e6672c4f76.woff") format("woff"), url("../fonts/317b8059-585f-4941-a6ef-ca644ef21469.ttf") format("truetype");
}

.section {
  padding: 0;
  @media screen and (max-width: $desktop) {
    padding: 0.7rem;
  }
  @media screen and (max-width: $tablet) {
    padding: 0 1.5rem;
  }
  p {
    letter-spacing: -0.2px;
    line-height: 20px;
  }
  .is-size-5 {
    font-size: 1.27rem !important;
  }
  .form-contact {
    .level {
      margin: 0;
    }
  }
  .content {
    &__top {
      &__title {
        padding: 15px 0 7px 0;
        @media screen and (max-width: $tablet) {
          padding: 75px 0 7px 0;
        }
      }
      &__subtitle {
        padding: 0 0 7px 0;
      }
      &__img {
        height: auto;
        padding: 0;
        img {
          max-height: 260px;
          margin: 0 auto;
          display: block;
        }
      }
    }
    &__bottom {
      &__img {
        >img, .swiper-container {
          display: block;
          width: calc(100% - 20%);
        }
        &__bookings {
          display: block;
          width: 100%;
        }
      }
    }
  }
}

