header {
  @media screen and (min-width: $desktop) {
    padding: 17px 0;
  }
  .nav {
    ul {
      @media screen and (max-width: $desktop) {
        flex-direction: column;
        height: 100vh;
        padding: 10vh 0px;
      }
      a {
        max-height: 16px;
        border-bottom: 1px solid transparent;
        margin: 0 8px;
        &:hover, &.active {
          border-bottom: 1px solid map-get($colors, black);
        }
      }
    }
    input[type=checkbox] {
      display: none;
      top: 10px;
      &:checked {
        & + label {
          position: fixed;
          top: 10px;
          right: 12px;
          span {
            background: map-get($colors, black);
            &:nth-child(1) {
              top: 18px;
              width: 0;
              left: 50%;
            }
            &:nth-child(2) {
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              transform: rotate(45deg);
            }
            &:nth-child(3) {
              -webkit-transform: rotate(-45deg);
              -moz-transform: rotate(-45deg);
              -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
            }
            &:nth-child(4) {
              top: 18px;
              width: 0;
              left: 50%;
            }
          }
          & + .navbar-menu {
            transform: translateX(0%);
            display: block;
            justify-content: flex-end;
            @media screen and (max-width: $desktop) {
              width: 100vw;
              height: 100vh;
              position: fixed;
              background: map-get($colors, white);
              top: 0;
              left: 0;
              z-index: 1;
            }
          }
        }
      }

      & + label {
        display: none;
        width: 36px;
        height: 36px;
        position: absolute;
        top: 22px;
        right: 13px;
        cursor: pointer;
        z-index: 2;
        @media screen and (max-width: $desktop) {
          display: block;
        }

        span {
          display: block;
          position: absolute;
          height: 3px;
          width: 100%;
          background: map-get($colors, black);
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          @include transition(transform, 0.25s);
          &:nth-child(1) {
            top: 0;
          }
          &:nth-child(2),
          &:nth-child(3) {
            top: 14px;
          }
          &:nth-child(4) {
            top: 29px;
          }
        }
      }
    }
    .level {
      &.is-mobile {
        .level-item {
          margin: 0px 11px;
        }
      }
    }
  }
}

footer {
  margin: 0 auto;
  padding-top: 50px;
  @media screen and (min-width: $tablet) {
    padding-top: 100px;
  }
  .nav {
    ul {
      justify-content: center;
      a {
        @media screen and (min-width: $tablet) {
          margin: 0 11px;
        }
        border-bottom: 1px solid transparent;
        &:hover, &.active {
          border-bottom: 1px solid map-get($colors, black);
        }
        li {
          line-height: 15px;
        }
      }
      @media screen and (min-width: $tablet) {
        .right-reserved {
          margin: 0 11px;
        }
      }
    }
  }
}