#modal-newsletter {
  &.modal {
    display: block;
  }
  .close {
    cursor: pointer;
    position: absolute;
    top: -30px;
    right: -30px;
    border-radius: 50%;
    z-index: 3;
    //@extend .form-close;
    //@include custom-img(0.2, 0 auto);
  }
  .modal-card {
    max-width: 700px;
  }
}