.grid {
  .grid-sizer {
    height: 0;
    position: absolute;
  }
  .grid-item {
    @media screen and (max-width: $tablet) {
      padding: 1rem 0.75rem;
    }
  }
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.click-here-label {
    max-height: 24px;
    display: inline-block;
    border-bottom: 1px solid map-get($colors, black);
}

.elem {
  &__content {
    @media screen and (min-width: $tablet) {
      margin: 0 auto;
      padding: 100px 0;
      &.has-richtext2 {
        padding-bottom: 100px;
      }
      &.padding-top {
        padding-top: 200px;
      }
      &.padding-bottom {
        padding-bottom: 200px;
      }
    }
  }
  &__img {
    @media screen and (max-width: $tablet) {
      padding: 30px 0;
    }
    @media screen and (min-width: $tablet) {
      &.has-richtext2 {
        padding-bottom: 100px;
      }
      &.padding-top {
        padding-top: 200px;
      }
      &.padding-bottom {
        padding-bottom: 200px;
      }
    }
  }
  &__desc {
    @media screen and (min-width: $tablet) {
      position: absolute;
      bottom: 5px;
      min-height: 88px;
      line-height: 18px;
      width: max-content;
      p {
        line-height: initial;
      }
    }
    &__bookings {
      min-height: 75px;
      line-height: 18px;
      padding-top: 8px;
      width: calc(100% - 20%);
      p {
        line-height: initial;
      }
    }
    &.has-padding-bottom {
      @media screen and (min-width: $tablet) {
        position: absolute;
        bottom: 97px;
        min-height: 95px;
        line-height: 18px;
        p {
          line-height: initial;
        }
      }
    }
  }
}