.d-flex {
	display: flex;
}

.block {
	display: block;
}

.f-wrap {
	flex-wrap: wrap;
}

/*////////Z-INDEX////////*/
.zind1 {
	z-index: 1;
}

.zind2 {
	z-index: 2;
}

.zind3 {
	z-index: 3;
}

/*////////BORDER////////*/

.bdr {
	border-radius: 20px;
}

.bdr-none {
	border: none;
}

.bdr-top {
	border-radius: 10px 10px 0 0;
}

.bdr-bottom {
	border-radius: 0 0 10px 10px;
}

.bd-top {
	border-top : 2px solid #000;
}

.bd-bot {
	border-bottom : 2px solid #000;
}

.bbox{
	box-sizing: border-box;
}

.bshadow1 {
	-webkit-box-shadow: 2px 7px 45px -5px rgba(0,0,0,0.3);
	-moz-box-shadow: 2px 7px 45px -5px rgba(0,0,0,0.3);
	box-shadow: 2px 7px 45px -5px rgba(0,0,0,0.3);
}

.bshadow2 {
	-webkit-box-shadow: 0px 7px 18px -5px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 7px 18px -5px rgba(0,0,0,0.3);
	box-shadow: 0px 7px 18px -5px rgba(0,0,0,0.3);
}

.over-hide{
	overflow: hidden;
}

.full-w{
	width: 100%;
}

.full-h{
	height: 100%;
}

.p-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.p-rel {
	position: relative;
}

/*////////TEXT////////*/

.text-center {
	text-align: center;
}

.is-uppercase {
	text-transform: uppercase;
}

.is-capitalize {
	text-transform: capitalize;
}

.bold {
	font-weight: bold;
}

.lighter {
	font-weight: lighter;
}

.ltsp {
	letter-spacing: 0;
}

.reset-mg {
	margin: 0 !important;
}


/*////////MARGIN - PADDING////////*/
.mauto{
	margin: auto;
}
.mauto-w{
	margin: 0 auto;
}
.mauto-h{
	margin: auto 0;
}

@for $i from 0 through 10 {
	.mg#{$i} {
		margin: 10px*$i;
	}
	.pd#{$i} {
		padding: 10px*$i;
	}

	/*////////MARGIN////////*/
	.mg-b#{$i} {
		margin-bottom: 10px*$i;
	}
	.mg-t#{$i} {
		margin-top: 10px*$i;
	}
	.mg-l#{$i} {
		margin-left: 10px*$i;
	}
	.mg-r#{$i} {
		margin-right: 10px*$i;
	}


	/*////////PADDING////////*/
	.pd-b#{$i} {
		padding-bottom: 10px*$i;
	}
	.pd-t#{$i} {
		padding-top: 10px*$i;
	}
	.pd-l#{$i} {
		padding-left: 10px*$i;
	}
	.pd-r#{$i} {
		padding-right: 10px*$i;
	}

	/*////////LINE-HEIGHT////////*/
	.lh#{$i} {
		line-height: 10px*$i;
	}
}