<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="copyright" content="© 2018 {{ metas.metaTitle }}. All rights reserved."/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        Betony Vernon{% if entry.title is defined %} - {{ entry.title }}
        {% endif %}
    </title>
    {% if entry.metaDescription | length %}
    <meta name="description" content="{% if entry.metaDescription is defined %}{{ entry.metaDescription }}{% endif %}"/>
    {% endif %}
    {% if metas.metaKeywords | length %}
    <meta name="keywords" content="{{ metas.metaKeywords }}"/>
    {% endif %}
    {% if metas.metaFacebookAppId | length %}
    <meta property="fb:app_id" content="{{ metas.metaFacebookAppId }}"/>
    {% endif %}
    <meta property="og:locale" content="en_US"/>
    {% if entry.metaTitle | length %}
    <meta property="og:title" content="{% if entry.metaTitle is defined %}{{ entry.metaTitle }}{% endif %}"/>
    {% endif %}
    <meta property="og:url" content="{{ siteUrl }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{{ siteUrl }}assets/img/logo.svg"/>
    <meta property="og:image:secure_url" content="{{ siteUrl }}assets/img/fav-icon.svg"/>
    {% if entry.metaDescription | length %}
    <meta property="og:description"
          content="{% if entry.metaDescription is defined %}{{ entry.metaDescription }}{% endif %}"/>
    {% endif %}

    <link rel="icon" href="{{ siteUrl }}assets/img/favicon.jpg" type="image/jpeg"/>
    <link rel="stylesheet" href="{{ siteUrl }}assets/css/vendors/swiper/swiper.min.css"/>
    <link rel="stylesheet" href="{{ siteUrl }}assets/css/app.css"/>
</head>

<body>

<!-- HEADER -->
{% block header %}
<header class="header zind3 full-w ltsp text__small{% if customClass is defined %} background__is-primary{% endif %}">
    <div class="container is-fluid">
        <div class="columns nav mauto">
            <input id="burger-menu" type="checkbox" class="button navbar-burger mg-r2" data-target="#navMenu">
            <label for="burger-menu">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </label>
            <div class="navbar-menu" id="navMenu">
                <div class="navbar-start mauto full-w has-text-centered">
                    <ul class="level mauto-w is-mobile">
                        {% if header.header1Label | length %}
                        <a class="level-item {% if craft.app.request.segments|first == '' %}active{% endif %}"
                           href="{{ craft.entries.section('objects').one().getUrl() }}">
                            <li class="is-uppercase">{{ header.header1Label }}</li>
                        </a>
                        {% endif %}
                        {% if header.header2Label | length %}
                        <a class="level-item {% if craft.app.request.segments|first == 'interiors' %}active{% endif %}"
                           href="{{ craft.entries.section('interiors').one().getUrl() }}">
                            <li class="is-uppercase">{{ header.header2Label }}</li>
                        </a>
                        {% endif %}
                        {% if header.header3Label | length %}
                        <a class="level-item {% if craft.app.request.segments|first == 'bookings' %}active{% endif %}"
                           href="{{ craft.entries.section('bookings').one().getUrl() }}">
                            <li class="is-uppercase">{{ header.header3Label }}</li>
                        </a>
                        {% endif %}
                        {% if header.header4Label | length %}
                        <a class="level-item {% if craft.app.request.segments|first == 'boudoir-bible' %}active{% endif %}"
                           href="{{ craft.entries.section('boudoirBible').one().getUrl() }}">
                            <li class="is-uppercase">{{ header.header4Label }}</li>
                        </a>
                        {% endif %}
                        {% if header.header5Label | length %}
                        <a class="level-item {% if craft.app.request.segments|first == 'about' %}active{% endif %}"
                           href="{{ craft.entries.section('about').one().getUrl() }}">
                            <li class="is-uppercase">{{ header.header5Label }}</li>
                        </a>
                        {% endif %}
                        {% if header.header6Label | length %}
                        <a class="level-item {% if craft.app.request.segments|first == 'press' %}active{% endif %}"
                           href="{{ craft.entries.section('press').one().getUrl() }}">
                            <li class="is-uppercase">{{ header.header6Label }}</li>
                        </a>
                        {% endif %}
                        {% if header.header7Label | length %}
                        <a class="level-item {% if craft.app.request.segments|first == 'contact' %}active{% endif %}"
                           href="{{ craft.entries.section('contact').one().getUrl() }}">
                            <li class="is-uppercase">{{ header.header7Label }}</li>
                        </a>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

<!-- CONTENT -->
{% block content %}
{% endblock %}


<!-- FOOTER -->
{% block footer %}
<footer>
    <div class="container is-fluid text__ft2">
        <div class="columns nav mauto">
            <div class="column">
                <ul class="level has-text-centered-mobile is-size-6">
                    {% if footer.footer1Label | length %}
                    <a id="newsletter" href="{{ footer.footer1Link }}">
                        <li class="is-uppercase">{{ footer.footer1Label }}</li>
                    </a>
                    {% endif %}
                    {% if footer.footer2Label | length %}
                    <a href="{{ footer.footer2Link }}">
                        <li class="is-uppercase">{{ footer.footer2Label }}</li>
                    </a>
                    {% endif %}
                    {% if footer.footer3Label | length %}
                    <a href="{{ footer.footer3Link }}">
                        <li class="is-uppercase">{{ footer.footer3Label }}</li>
                    </a>
                    {% endif %}
                    {% if footer.footer4Label | length %}
                    <a href="{{ footer.footer4Link }}">
                        <li class="is-uppercase">{{ footer.footer4Label }}</li>
                    </a>
                    {% endif %}
                    <li class="right-reserved">© 2018 {{ metas.metaTitle }}. All rights reserved.</li>
                </ul>
            </div>
        </div>
    </div>
</footer>

{% endblock %}

<script type="text/javascript" src="{{ siteUrl }}assets/js/swiper.min.js"></script>
<script type="text/javascript" src="{{ siteUrl }}assets/js/script.js"></script>
{% block customJavascript %}

{% endblock %}


{% if googleAnalytics.googleAnalyticsTracking|length > 0 %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ googleAnalytics.googleAnalyticsTracking }}"></script>
<script>
	window.dataLayer = window.dataLayer || [];

	function gtag() {
		dataLayer.push(arguments);
	}

	gtag('js', new Date());

	gtag('config', '{{ googleAnalytics.googleAnalyticsTracking }}');
</script>
{% endif %}

{% if metas.metaTitle | length %}
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "{{ metas.metaTitle }}",
        "url": "{{ siteUrl }}",
        "logo": "{{ siteUrl }}assets/img/logo.svg"
    }






</script>
{% endif %}

</body>
</html>