{#
# Homepage template
# ---------------
#
# When this template gets loaded, it will be because someone has accessed
# http://yoursite.com/ (without any URI). Craft checks to see if you have
# a Single section set to be the Homepage (as you do, by default), and
# loads the section’s Template (this file). A special ‘entry’ variable
# will already be set for you, assigned to the Homepage entry.
#
# It's worth noting that even if you didn't have a Homepage Single section,
# as long as this template remains at craft/templates/index.html, it
# would still be the one to get loaded when accessing http://yoursite.com/,
# albeit without an ‘entry’ variable already set for you.
#
# See this page for more details on how Craft routes requests:
# http://craftcms.com/docs/routing
#}

{% extends "_layout" %}

{% set title = entry.title %}

{% set width = entry.cropSizingWidth %}
{% set height = entry.cropSizingHeight %}

{% set thumb = {
mode: 'resize',
width: width,
quality: 100,
} %}

{% block content %}
<main id="tpl-similar">
    <section class="section">
        <div class="container is-fluid">
            <div class="columns mauto">
                <div class="column is-8 is-offset-2 pd0">
                    {% if metas.metaTitle | length %}
                    <div class="level">
                        <h1 class="mauto is-size-3 content__top__title is-uppercase has-text-centered">
                            {{ metas.metaTitle }}
                        </h1>
                    </div>
                    {% endif %}
                    {% if entry.title | length %}
                    <div class="level">
                        <h2 class="mauto content__top__subtitle is-size-3 is-uppercase has-text-centered">
                            {{ entry.title }}
                        </h2>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% if entry.img1 | length %}
            <div class="columns pd-b1">
                <div class="column is-8 is-offset-2 content__top__img mauto">
                    <img class="mauto" src="{{ entry.img1.one().url }}" alt="{{ entry.img1.one().url }}">
                </div>
            </div>
            {% endif %}
            {% if entry.richText1| length %}
            <div class="columns">
                <div class="column is-8 is-offset-2 is-size-5">
                    {{ entry.richText1 }}
                </div>
            </div>
            {% endif %}
            {% if entry.richText2| length %}
            <div class="columns is-8 is-offset-2 mg-t5">
                <div class="column">
                    {{ entry.richText2 }}
                </div>
            </div>
            {% endif %}
            {% if entry.img2| length or entry.video | length %}
            <div class="columns content__bottom">
                <div class="column is-8 is-offset-2 content__bottom__img">
                    {% if entry.video | length %}
                    <div class="videoWrapper">
                        <iframe src="http://www.youtube.com/embed/{{ entry.video }}?modestbranding=0&autohide=1&showinfo=0"
                                frameborder="0"
                                allowfullscreen></iframe>
                    </div>
                    {% elseif entry.img2 | length and entry.video | length <= 0 %}
                    {% if entry.img2 | length <= 1 %}
                    <img class="full-h full-w mauto-w" src="{{ entry.img2.one().getUrl(thumb) }}"
                         width="{{ entry.img2.one().getWidth(thumb) }}"
                         alt="{{ entry.img2.one() }}">
                    {% endif %}
                    {% if entry.img2 | length > 1 %}
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            {% for image in entry.img2.all() %}
                            <div class="swiper-slide">
                                <img class="full-h full-w mauto-w" src="{{ image.getUrl(thumb) }}"
                                     alt="{{ image }}">
                            </div>
                            {% endfor %}
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </section>
</main>
{% endblock %}

{% block customJavascript %}
<!--<script type="text/javascript" src="{{ siteUrl }}assets/js/home.js"></script>-->
{% endblock %}