{#
# Homepage template
# ---------------
#
# When this template gets loaded, it will be because someone has accessed
# http://yoursite.com/ (without any URI). Craft checks to see if you have
# a Single section set to be the Homepage (as you do, by default), and
# loads the section’s Template (this file). A special ‘entry’ variable
# will already be set for you, assigned to the Homepage entry.
#
# It's worth noting that even if you didn't have a Homepage Single section,
# as long as this template remains at craft/templates/index.html, it
# would still be the one to get loaded when accessing http://yoursite.com/,
# albeit without an ‘entry’ variable already set for you.
#
# See this page for more details on how Craft routes requests:
# http://craftcms.com/docs/routing
#}

{% extends "_layout" %}

{% set pages = craft.entries.section('contact').all() %}

{% set title = entry.title %}

{% block content %}
<main id="contact">
    <section class="section">
        <div class="container is-fluid">
            <div class="columns mauto">
                <div class="column is-8 is-offset-2 pd0">
                    {% if metas.metaTitle | length %}
                    <div class="level">
                        <h1 class="mauto is-size-3 content__top__title is-uppercase has-text-centered text__is-black">
                            {{ metas.metaTitle }}
                        </h1>
                    </div>
                    {% endif %}
                    {% if header.header7Label | length %}
                    <div class="level">
                        <h2 class="mauto content__top__subtitle is-size-3 is-uppercase has-text-centered text__is-black">
                            {{ header.header7Label }}
                        </h2>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% if entry.inquiryTypeImg | length %}
            <div class="columns">
                <div class="column is-8 is-offset-2 content__top__img mauto">
                    <img class="mauto" src="{{ entry.inquiryTypeImg.one().url }}"
                         alt="{{ entry.inquiryTypeImg.one().url }}">
                </div>
            </div>
            {% endif %}
            <div class="columns">
                <div class="column contact is-size-5 mauto">
                    {% if contact.listInquiryTypeTitle| length %}
                    <div class="level pd-t1">
                        <div class="level-item">
                            <p class="has-text-centered is-uppercase text__small">{{ contact.listInquiryTypeTitle }}</p>
                        </div>
                    </div>
                    {% endif %}
                    <ul class="level contact__nav has-text-centered">
                        {% for page in pages %}
                        <a href="{{ siteUrl }}contact/{{ page.slug }}" class="{% if craft.app.request.getSegment(2) == page.slug %}active{% endif %}">
                            <li class="is-uppercase">{{ page.title }}</li>
                        </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% if entry.inquiryTypeDescription| length %}
            <div class="columns pd-t4">
                <div class="column is-8 is-offset-2 is-size-5 has-text-centered">
                    {{ entry.inquiryTypeDescription }}
                </div>
            </div>
            {% endif %}
            <form class="form-contact" method="post" action="" accept-charset="UTF-8">
                {{ csrfInput() }}

                <input type="hidden" name="action" value="contact-form/send">
                {{ redirectInput('/') }}
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        <input id="subject" type="hidden" name="subject" value="Request for {{ entry.title }}">
                        {% for contactOption in entry.inputs %}
                        <div class="level is-mobile over-hide">
                            <div class="level-left">
                                <label class="is-uppercase" for="{{ contactOption.label }}">{{ contactOption.label }}</label>
                            </div>
                            <div class="level-right full-w">
                                <input class="input" id="{{ contactOption.label }}" type="text" name="{{ contactOption }}"
                                       value="{{ message.contactOption ?? '' }}">
                            </div>
                        </div>
                        {% endfor %}
                        <div class="level pd-t7 pd-b2 reset-mg pd-b1">
                            <div class="level-item">
                                <button class="text__ft1 button button-submit bdr-less is-uppercase is-size-5" type="submit">
                                    {{ contact.submitLabel }}
                                </button>
                            </div>
                        </div>
                        {% if entry.submitMoreInformations| length %}
                        <div class="columns">
                            <div class="column text__small is-8 is-offset-2 has-text-centered is-uppercase">
                                {{ entry.submitMoreInformations }}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>
{% endblock %}

{% block customJavascript %}

{% endblock %}