{#
# Homepage template
# ---------------
#
# When this template gets loaded, it will be because someone has accessed
# http://yoursite.com/ (without any URI). Craft checks to see if you have
# a Single section set to be the Homepage (as you do, by default), and
# loads the section’s Template (this file). A special ‘entry’ variable
# will already be set for you, assigned to the Homepage entry.
#
# It's worth noting that even if you didn't have a Homepage Single section,
# as long as this template remains at craft/templates/index.html, it
# would still be the one to get loaded when accessing http://yoursite.com/,
# albeit without an ‘entry’ variable already set for you.
#
# See this page for more details on how Craft routes requests:
# http://craftcms.com/docs/routing
#}

{% extends "_layout" %}

{% set title = entry.title %}

{% block content %}
<main id="contact">
    <section class="section">
        <div class="container is-fluid">
            <div class="columns mauto">
                <div class="column is-8 is-offset-2 pd0">
                    {% if metas.metaTitle | length %}
                    <div class="level">
                        <h1 class="mauto is-size-3 content__top__title is-uppercase has-text-centered text__is-black">
                            {{ metas.metaTitle }}
                        </h1>
                    </div>
                    {% endif %}
                    {% if entry.title | length %}
                    <div class="level">
                        <h2 class="mauto content__top__subtitle is-size-3 is-uppercase has-text-centered text__is-black">
                            {{ entry.title }}
                        </h2>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% if entry.inquiryTypeImg | length %}
            <div class="columns">
                <div class="column is-8 is-offset-2 content__top__img mauto">
                    <img class="mauto" src="{{ entry.inquiryTypeImg.one().url }}"
                         alt="{{ entry.inquiryTypeImg.one().url }}">
                </div>
            </div>
            {% endif %}
            {% if entry.inquiryTypeDescription| length %}
            <div class="columns pd-t1">
                <div class="column is-8 is-offset-2 is-size-5 has-text-centered">
                    {{ entry.inquiryTypeDescription }}
                </div>
            </div>
            {% endif %}
            <form action="https://betonyvernon.us9.list-manage.com/subscribe/post?u=ccd9438d449cb08191314e8e1&amp;id=bd2558346d"
                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                  class="validate" target="_blank" novalidate>
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        <div id="mc_embed_signup_scroll">
                            <div class="level is-mobile over-hide full-w pd-t3 reset-mg">
                                <div class="level-left full-w">
                                    <label for="mce-EMAIL" class="is-size-6 text__ft1 is-uppercase">
                                        {{ entry.inputLabel1 }}
                                    </label>
                                    <input type="email" value="" name="EMAIL" class="full-w" id="mce-EMAIL">
                                </div>
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                <input type="text" name="b_ccd9438d449cb08191314e8e1_bd2558346d" tabindex="-1"
                                       value="">
                            </div>
                            <div class="level pd-t7 pd-b2 reset-mg pd-b1">
                                <div class="level-item">
                                    <button id="mc-embedded-subscribe"
                                            class="text__ft1 button button-submit bdr-less is-uppercase is-size-5"
                                            value="Subscribe" name="subscribe" type="submit">
                                        {{ contact.submitLabel }}
                                    </button>
                                </div>
                            </div>
                            {% if entry.submitMoreInformations| length %}
                            <div class="columns">
                                <div class="column text__small is-8 is-offset-2 has-text-centered is-uppercase">
                                    {{ entry.submitMoreInformations }}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>
{% endblock %}

{% block customJavascript %}

{% endblock %}