{#
# Homepage template
# ---------------
#
# When this template gets loaded, it will be because someone has accessed
# http://yoursite.com/ (without any URI). Craft checks to see if you have
# a Single section set to be the Homepage (as you do, by default), and
# loads the section’s Template (this file). A special ‘entry’ variable
# will already be set for you, assigned to the Homepage entry.
#
# It's worth noting that even if you didn't have a Homepage Single section,
# as long as this template remains at craft/templates/index.html, it
# would still be the one to get loaded when accessing http://yoursite.com/,
# albeit without an ‘entry’ variable already set for you.
#
# See this page for more details on how Craft routes requests:
# http://craftcms.com/docs/routing
#}

{% extends "_layout" %}

{% set objects = craft.entries.section('objectsElement').all() %}

{% set title = entry.title %}

{% block content %}
<main id="objects">
    <section class="section">
        <div class="container is-fluid">
            <div class="columns mauto">
                <div class="column is-8 is-offset-2 pd0">
                    {% if metas.metaTitle | length %}
                    <div class="level">
                        <h1 class="mauto is-size-3 content__top__title is-uppercase has-text-centered">
                            {{ metas.metaTitle }}
                        </h1>
                    </div>
                    {% endif %}
                    {% if entry.title | length %}
                    <div class="level">
                        <h2 class="mauto content__top__subtitle is-size-3 is-uppercase has-text-centered">
                            {{ entry.title }}
                        </h2>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="grid columns is-multiline">
                <div class="grid-sizer is-1 column pd0"></div>
                {% for object in objects %}

                {% set width = object.cropSizingWidth %}
                {% set height = object.cropSizingHeight %}

                {% set thumb = {
                mode: 'resize',
                width: width,
                quality: 100,
                } %}
                <div class="grid-item elem column is-size-5 p-rel is-12-mobile{% if object.sizeContainer | length %} {{ object.sizeContainer }}{% endif %}{% if object.marginContainer | length %} {{ object.marginContainer }} {% endif %}">
                    {% if object.img1 | length or object.video | length %}
                    <div class="columns">
                        <div class="column pd0{% if object.sizeMedia | length %} {{ object.sizeMedia }}{% endif %}{% if object.marginMedia | length %} {{ object.marginMedia }} {% endif %}">
                            <div class="level elem__img{% if object.richText2 | length %} has-richtext2 {% endif %}{% if object.paddingBottom | length %}padding-bottom{% endif %}{% if object.paddingTop | length %} padding-top{% endif %} full-w p-rel">
                                {% if object.video | length %}
                                <div class="videoWrapper">
                                    <iframe src="http://www.youtube.com/embed/{{ object.video }}?modestbranding=0&autohide=1&showinfo=0"
                                            frameborder="0"
                                            allowfullscreen></iframe>
                                </div>
                                {% elseif object.img1 | length and object.video | length <= 0 %}
                                {% if object.img1 | length <= 1 %}
                                <img class="full-h full-w" src="{{ object.img1.one().getUrl(thumb) }}"
                                     width="{{ object.img1.one().getWidth(thumb) }}"
                                     alt="{{ object.img1.one() }}">
                                {% endif %}
                                {% if object.img1 | length > 1 %}
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        {% for image in object.img1.all() %}
                                        <div class="swiper-slide">
                                            <img class="full-h full-w" src="{{image.getUrl(thumb) }}"
                                                 width="{{ image.getWidth(thumb) }}"
                                                 alt="{{ image }}">
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <!-- Add Arrows -->
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                                {% endif %}
                                {% endif %}
                                {% if object.richText2 | length %}
                                <div class="elem__desc {% if object.paddingBottom | length %}has-padding-bottom{% endif %} is-size-6 text__ft2">
                                    {{ object.richText2 }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% elseif object.richText1 | length %}
                    <div class="columns">
                        <div class="column pd0{% if object.sizeRichText1 | length %} {{ object.sizeRichText1 }}{% endif %}{% if object.marginRichText1 | length %} {{ object.marginRichText1 }} {% endif %}">
                            <div class="level">
                                <div class="elem__content {% if object.paddingBottom | length %}padding-bottom{% endif %}{% if object.paddingTop | length %} padding-top{% endif %}">
                                    {{ object.richText1 }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="columns">
                <div class="column pd0 is-8 is-offset-2">
                    <div class="level">
                        <div class="elem__content text-bottom-objects has-text-centered is-size-5">
                            {{ entry.textBottom }}
                        </div>
                    </div>
                </div>
            </div>
    </section>
</main>
{% endblock %}

{% block customJavascript %}
<script type="text/javascript" src="{{ siteUrl }}assets/js/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="{{ siteUrl }}assets/js/masonry.js"></script>
<script type="text/javascript" src="{{ siteUrl }}assets/js/objects.js"></script>
{% endblock %}