{#
# Homepage template
# ---------------
#
# When this template gets loaded, it will be because someone has accessed
# http://yoursite.com/ (without any URI). Craft checks to see if you have
# a Single section set to be the Homepage (as you do, by default), and
# loads the section’s Template (this file). A special ‘entry’ variable
# will already be set for you, assigned to the Homepage entry.
#
# It's worth noting that even if you didn't have a Homepage Single section,
# as long as this template remains at craft/templates/index.html, it
# would still be the one to get loaded when accessing http://yoursite.com/,
# albeit without an ‘entry’ variable already set for you.
#
# See this page for more details on how Craft routes requests:
# http://craftcms.com/docs/routing
#}

{% extends "_layout" %}

{% set allpress = craft.entries.section('pressElement').all() %}

{% set title = entry.title %}

{% block content %}
<main id="press">
    <section class="section">
        <div class="container is-fluid">
            <div class="columns mauto">
                <div class="column is-8 is-offset-2 pd0">
                    {% if metas.metaTitle | length %}
                    <div class="level">
                        <h1 class="mauto is-size-3 content__top__title is-uppercase has-text-centered text__is-black">{{
                            metas.metaTitle
                            }}</h1>
                    </div>
                    {% endif %}
                    {% if entry.title | length %}
                    <div class="level">
                        <h2 class="mauto content__top__subtitle is-size-3 is-uppercase has-text-centered text__is-black">
                            {{ entry.title }}</h2>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% if entry.img1 | length %}
            <div class="columns pd-b1">
                <div class="column is-8 is-offset-2 content__top__img mauto">
                    <img class="mauto" src="{{ entry.img1.one().url }}" alt="{{ entry.img1.one().url }}">
                </div>
            </div>
            {% endif %}

            {% for press in allpress %}

            {% set width = press.cropSizingWidth %}
            {% set height = press.cropSizingHeight %}

            {% set thumb = {
            mode: 'resize',
            width: width,
            quality: 100,
            } %}

            <div class="columns is-multiline">
                <div class="column is-size-5 p-rel is-12-mobile{% if press.sizeContainer | length %} {{ press.sizeContainer }}{% endif %}{% if press.marginContainer | length %} {{ press.marginContainer }} {% endif %}">
                    <div class="columns">
                        <div class="column pd0{% if press.sizeMedia | length %} {{ press.sizeMedia }}{% endif %}{% if press.marginMedia | length %} {{ press.marginMedia }} {% endif %}">
                            <div class="level elem__img{% if press.richText2 | length %} has-richtext2 {% endif %}{% if press.paddingBottom | length %}padding-bottom{% endif %} full-w p-rel">
                                {% if press.video | length %}
                                <div class="videoWrapper">
                                    <iframe src="http://www.youtube.com/embed/{{ press.video }}?modestbranding=0&autohide=1&showinfo=0"
                                            frameborder="0"
                                            allowfullscreen></iframe>
                                </div>
                                {% elseif press.img1 | length and press.video | length <= 0 %}
                                {% if press.img1 | length <= 1 %}
                                <img class="full-h full-w" src="{{ press.img1.one().getUrl(thumb) }}"
                                     width="{{ press.img1.one().getWidth(thumb) }}"
                                     alt="{{ press.img1.one() }}">
                                {% endif %}
                                {% if press.img1 | length > 1 %}
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        {% for image in press.img1.all() %}
                                        <div class="swiper-slide">
                                            <img class="full-h full-w" src="{{image.getUrl(thumb) }}"
                                                 width="{{ image.getWidth(thumb) }}"
                                                 alt="{{ image }}">
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <!-- Add Arrows -->
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                                {% endif %}
                                {% endif %}
                                {% if press.richText2 | length %}
                                <div class="elem__desc {% if press.paddingBottom | length %}has-padding-bottom{% endif %} is-size-6 text__ft2">
                                    {{ press.richText2 }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="columns">
                <div class="column pd0 is-8 is-offset-2">
                    <div class="level">
                        <div class="elem__content text-bottom-objects has-text-centered is-size-5">
                            {{ entry.textBottom }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}

{% block customJavascript %}
<!--<script type="text/javascript" src="{{ siteUrl }}assets/js/home.js"></script>-->
{% endblock %}